* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: sans-serif;

}
body{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 1rem;
    width: 100%;
    background-image: url(textura-de-ladrillo-z8rwfghj1lnu96u5.jpg);
}

html {
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    scroll-behavior: smooth;
    
}

a {
    text-decoration: none;
}