body > header {
    width: 100vw;
    height: 10vh;
    background-color: rgba(207, 204, 204, 0.7);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
}

body > header > a {
    width: 5rem;
}
nav {
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;

}

a {
    display: flex;
    padding: 1rem;
    font-weight: 700;
    color: black;

}

form {
    display: flex;
    justify-content: flex-end;
}

body > header > picture {
    display: flex;
    margin: 1rem;
    height: 70px;
}

body > header > form input[type="checkbox"] {
    display: none;
}
body > header > form label {
    width: 2rem;
    cursor: pointer;
    margin: 10px;
}



