body > header {
    width: 100vw;
    height: 10vh;
    background-color: rgba(207, 204, 204, 0.7);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
}

body > header > form > nav {
    display: none;
}

body > header > a {
    width: 5rem;
}
body > header > nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;

}


a {
    display: flex;
    padding: 1rem;
    font-weight: 700;
    color: black;

}

form {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
}
body > header > form input[type="checkbox"] {
    display: none;
}



body > header > picture {
    display: flex;
    margin: 1rem;
    height: 70px;
}


body > header > form label {
    width: 2rem;
    cursor: pointer;
    margin: 10px;
}
body::before {
    content: "";
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(252, 252 , 252 , 0.4) ;
    backdrop-filter: blur(4px);
    display: none; 
}
body::has(#actions input[type="checkbox"])::before{
    display: flex;
}



@media (max-width:1290px) {
    body > header > form > label {
        display: none;
    }
}



@media (max-width:1200px) {
    body > header > nav {
        display: none;
          
    }
    body > header > form > label {
        display: flex;
    }

    form {
        flex: 1;
    }

    body > header > picture {
        padding-bottom: .75rem;
    }

}

@media (max-width:768px) {
    body > header {
        width: 100%;
        
    }

    body > header > form > nav {
        position: fixed;
        top: 5rem;
        left: 0;
        width: 100%;
        background-color: rgba(199, 194, 194, 0.7);
        border: 0.1rem solid white;
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem 2rem;
        z-index: -1;
        border-top: 0;
        font-weight: 900px;
        gap: 1rem;
        border-radius: 0 0 1rem 1rem;
        transform: translateY(-100vh);
        transition: all 300ms ease-in-out;

    }
    #menu_hamburguesa:checked ~ nav {
        transform: translateY(0);

    }


}

@media (max-width:430px) {
    body > header {
        width: 100%;
    }
    
}