#contacto {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

#contacto > h2 {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

#contacto > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
#nombre{
    padding: .7rem;
    border-radius: 15px;
    background-color: grey;
}
#nombre::placeholder {
    color: black;
}
#apellido {
    padding: .7rem;
    background-color: grey;
    border-radius: 15px;
}
#apellido::placeholder {
    color: black;
}
#email {
    padding: .7rem;
    background-color: grey;
    border-radius: 15px;
}
#email::placeholder {
    color: black;
}
#more {
    padding: 1rem;
    background-color: grey;
    border-radius: 15px;
}
#more::placeholder {
    color: black;
}
#news {
    padding: .7rem;
    display: inline-block;
}

#enviar {
    padding: .7rem;
    border: solid 1px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: black;
    color: white;
    border-color: black;
    margin: 1rem;
}

#enviar:hover {
    background-color: red;
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

fieldset {
    font-weight: 900;
    background-color: rgba(247, 243, 243, 0.5); /* Fondo negro con 50% de transparencia */
    color: black; /* Texto blanco para contraste */
    padding: 5px 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados (opcional) */
}

iframe {
    float: right;
    width: 70%;
    height: 300px;
}

@media (max-width:768px) {
    #contacto > form {
        padding-top: 2.1rem;
        padding-right: 2rem;
    }

}

@media (max-width:430px) {
    #contacto {
        display: flex;
        flex-direction: column;
    }
    iframe {
        width: 100%;
        padding-bottom: 1rem;
    }
}