#catalog { 
    width: 100%;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    font-weight: 550;
    
}

#electrico {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background: rgb(0, 0, 0);
    border-radius: 0.75rem;
    gap: 0.5rem;
    margin: 15px;
}

#electrico > picture {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#electrico > picture > img {
    width: 100%;
    height: 100%;
    object-fit: cover;}

#electrico h2 {
    display: flex;
    color: white;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: medium;
}
#electrico span {
    background-color: white;
    color: black;
    padding: 0.25rem 1rem;
    border-radius: 0.7rem;
    
}  

#plomeria {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background: rgb(0, 0, 0);
    border-radius: 0.75rem;
    gap: 0.5rem;
    margin: 15px;
}

#plomeria > picture {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#plomeria > picture > img {
    width: 100%;
    height: 100%;
    object-fit: cover;}

#plomeria h2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: medium;
    color: white;
}
#plomeria span {
    background-color: white;
    padding: 0.25rem 1rem;
    border-radius: 0.7rem;
    color: black;
    
} 

#construction {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background: rgb(0, 0, 0);
    border-radius: 0.75rem;
    gap: 0.5rem;
    margin: 15px;
}

#construction > picture {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#construction > picture > img {
    width: 100%;
    height: 100%;
    object-fit: cover;}

#construction h2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: medium;
    color: white;
}
#construction span {
    background-color: white;
    padding: 0.25rem 1rem;
    border-radius: 0.7rem;
    color: black;
    
}   

#catalog a {
    background-color: black;
    padding: .75rem 1.25rem;
    border-radius: 0.5rem;
    color: white;
    width: 35%;
    padding: .5rem;
    transition: all 0.3s ease-in-out;
    border: 2px solid white;
}

#catalog a:hover {
    background-color: red;
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

}
#cata h2 {
        display: flex;
        justify-content: center;
        align-items: center; 
        background: rgba(0, 0, 0, 0.6);
        color: #FFFFFF;
        padding: 5px 10px;
        border-radius: 5px;  
}

@media (max-width:430px) {
    #catalog {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    picture {
        display: block;
    }


    #plomeria > picture > img {
        width: 100%;
        object-fit: cover;
    }
    #plomeria {
        width: 80%;
        height: auto;
    }
    #construction { 
        width: 80%;
        height: auto;

    }
    #construction > picture > img {
        width: 100%;
    }

    #electrico { 
        width: 80%;
        height: auto;
    }
    #electrico > picture > img {
        width: 100%;
    }
}

@media (max-width:800px) {
    #catalog {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@media (max-width:640px) {
    #catalog {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    picture {
        display: block;
    }


    #plomeria > picture > img {
        width: 100%;
        object-fit: cover;
    }
    #plomeria {
        width: 80%;
        height: auto;
    }
    #construction { 
        width: 80%;
        height: auto;

    }
    #construction > picture > img {
        width: 100%;
    }

    #electrico { 
        width: 80%;
        height: auto;
    }
    #electrico > picture > img {
        width: 100%;
    }
}