body > main { 
    width: 100%;
    color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1rem;
    font-weight: 550;
}
#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    align-items: flex-start;
    align-content: flex-start;
    gap: 1rem;
}

#content h1 {
    background: rgba(0, 0, 0, 0.6);
    color: #FFFFFF;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 5px;
    
}

#card ul li dl {
    background-color: black;
}

#plumbing {
    margin-right: 1rem;
}

#card ul li dl dd {
    color: white;
}

#content p {
    line-height: 1.5rem;
    font-size: 13px;
    background: rgba(255, 255, 255, 0.9); /* Más opaco para mejor legibilidad */
    color: #333333; /* Gris oscuro, menos agresivo que negro puro */
    padding: 15px;
    border-radius: 8px;
}

#content a {
    background-color: black;
    padding: .75rem 1.25rem;
    border-radius: 0.5rem;
    color: white;
    transition: all 0.3s ease-in-out;
    border: 2px solid white;
    
}
#content a:hover {
    background-color: red;
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
#card {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background: rgb(0, 0, 0);
    border-radius: 0.75rem;
    gap: 0.5rem;
}
#card > picture {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card > picture > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#card h2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
#card span {
    color: white;
    padding: 0.25rem 1rem;
    border-radius: 0.7rem;
    border: 2px solid white;
}

#card ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}
#referencia {
    display: flex;
    height: 6rem;
}
#Carmen {
    display: flex;
    border: 1rem 1.25rem;
    border-radius: 50%;
}
#trabajador {
    display: flex;
    border: 1rem;
}

#card ul li {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
}

#card ul li picture {
    border: 2px solid white;
    border-radius: 50%;
}

#card ul li dl {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#nombre {
    align-self: center;
    padding: 1rem;
}
#plumbing {
    align-items: flex-end;
    justify-content: center;
    gap: 1rem;
}

@media (max-width:800px) {
    #card { display: none;
        
    }

    #card h2 {
        justify-content: center;
        display: flex;
        align-items: center;
    }
    #content p {
        font-size: 15px;
    }
}

@media (max-width:430px) {
    body > main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}