#usuarios{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
}
nav > a {
    margin: 15px;
}

#usuarios header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login {
    background-color: black;
    color: white;
    border-radius: 1.5rem;
    transition: all 0.3s ease-in-out;
    
}
#login:hover {
    background-color: red;
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

}
#register {
    background-color: black;
    color: white;
    border-radius: 1.5rem;
    transition: all 0.3s ease-in-out;
}
#register:hover {
    background-color: red;
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

#usuarios ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
#usuarios ul li picture {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    justify-content: center;
}
#usuarios ul li h3 {
    display: flex;
    justify-content: center;
    padding: .5rem;
}
#usuarios ul li p { 
    display: flex;
    justify-content: center;
    padding: .5rem;
    line-height: 1.5rem;
}

#test234 {
    display: flex;
    justify-content: center;
    border: 1rem 1.25rem;
    border-radius: 50%;
    height: 300px;
}

p {
    font-weight: 900;
    background-color: rgba(247, 243, 243, 0.5); /* Fondo negro con 50% de transparencia */
    color: black; /* Texto blanco para contraste */
    padding: 5px 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados (opcional) */
    display: inline;
}

@media (max-width:768px) {
    #usuarios ul li {
        flex-direction: column;
        display: flex;
        width: 30%;
        height: auto;
        justify-content: center;
    }

    #usuarios ul li picture {
        display: flex;
        justify-content: center;
    }
    #usuarios ul li picture img {
        width: 100%; 
        height: auto;
    }

}