footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: none;  
}
@media (max-width:768px) {
    footer {
        display: flex;
        font-size: 10px;
        padding-bottom: 2rem;
    }

}