#usuarios{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
}
nav > a {
    margin: 15px;
}

#usuarios header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login {
    background-color: black;
    color: white;
    border-radius: 1.5rem;
    transition: all 0.3s ease-in-out;
    
}
#login:hover {
    background-color: red;
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

}
#register {
    background-color: black;
    color: white;
    border-radius: 1.5rem;
    transition: all 0.3s ease-in-out;
}
#register:hover {
    background-color: red;
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

#usuarios ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
#usuarios ul li picture {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    justify-content: center;
}
#usuarios ul li h3 {
    display: flex;
    justify-content: center;
    padding: .5rem;
}
#usuarios ul li p { 
    display: flex;
    justify-content: center;
    padding: .5rem;
    line-height: 1.5rem;
}

#test234 {
    display: flex;
    justify-content: center;
    border: 1rem 1.25rem;
    border-radius: 50%;
    height: 300px;
}