#usuarios{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
}
nav > a {
    margin: 15px;
}

#usuarios header {
    display: flex;
    justify-content: center;
    align-items: center;
}


#login {
    background-color: black;
    color: white;
    border-radius: 1.5rem;
    transition: all 0.3s ease-in-out;
    padding-bottom: 1rem;
    
}
#login:hover {
    background-color: red;
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

}
#register {
    background-color: black;
    color: white;
    border-radius: 1.5rem;
    transition: all 0.3s ease-in-out;
}
#register:hover {
    background-color: red;
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

#usuarios ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

#usuarios ul li {
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}

#usuarios ul li picture {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    justify-content: center;
}
#usuarios ul li h3 {
    display: flex;
    justify-content: center;
    padding: .5rem;
}
#usuarios ul li p { 
    display: flex;
    justify-content: center;
    padding: .5rem;
    line-height: 1.5rem;
    font-weight: 900;
    font-size: 11px;
}

#test234 {
    display: flex;
    justify-content: center;
    border: 1rem 1.25rem;
    border-radius: 50%;
    height: 300px;
}

p {
    font-weight: 900;
    background-color: rgba(247, 243, 243, 0.877); /* Fondo negro con 50% de transparencia */
    color: black; /* Texto blanco para contraste */
    padding: 5px 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados (opcional) */
    display: inline;
}

@media (max-width:1440px) {

    #usuarios ul li p { 
        display: flex;
        justify-content: center;
        margin: 1rem;
        line-height: 1.5rem;
        font-weight: 900;
        font-size: 13px;
    }
}



@media (max-width:1024px) {

    #usuarios ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    #usuarios ul li p {
        font-size: 15px;
    }

    #usuarios ul li h3 {
        font-size: 20px;
    }

    #usuarios ul li picture {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
    }
    #usuarios ul li picture img {
        width: 40%; 
        height: auto;
        justify-content: center;
        align-items: center;
    }

}


@media (max-width:800px) {

    #usuarios ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    #usuarios ul li picture {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
    }
    #usuarios ul li picture img {
        width: 40%; 
        height: auto;
        justify-content: center;
        align-items: center;
    }

}


@media (max-width:768px) {
    #usuarios ul li {
        flex-direction: column;
        display: flex;
        width: 30%;
        height: auto;
        justify-content: center;
    }

    #usuarios ul li picture {
        display: flex;
        justify-content: center;
    }
    #usuarios ul li picture img {
        width: 100%; 
        height: auto;
    }

}

@media (max-width:425px) {
    #usuarios {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #usuarios ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-content: center;
        align-items: center;
        
    }
    #usuarios p {
        width: 300%;
        font-weight: 900
    }
    #usuarios ul li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: .25rem;
        font-size: 9px;
        align-items: center;
        
    }
    #usuarios ul li picture {
        display: flex;
        justify-content: center;
        width: 200%;
       
    }
    #usuarios ul li picture img {
        width: 100%; 
        height: auto;
        display: flex;
        align-items: flex-start;
        
    }
    
}

@media (max-width:640px) {
    #usuarios {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #usuarios ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-content: center;
        align-items: center;
        
    }
    #usuarios p {
        width: 300%;
        font-weight: 900
    }
    #usuarios ul li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: .25rem;
        font-size: 9px;
        align-items: center;
        
    }
    #usuarios ul li picture {
        display: flex;
        justify-content: center;
        width: 200%;
       
    }
    #usuarios ul li picture img {
        width: 100%; 
        height: auto;
        display: flex;
        align-items: flex-start;
        
    }
    
}
